<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- decision engine -->
	
	<!-- distributed for live -->
	<!-- live -->
	
	<!-- live -->
	
	<!-- number of worker threads -->
	<!-- default logging level -->
    <entry key="default-log-level">info</entry>
	
	<!-- ffmpeg path -->
    <entry key="ffmpeg-path">c:/ffmpeg</entry>
	
	<!-- temporary directory -->
    <entry key="temporary-directory">d:/temp</entry>
    
    <!-- batch files path -->
    <entry key="batchFilesPath">c:/batchfiles</entry>
    
    <!-- batch files extension -->
    <entry key="batchFilesExtension">.bat</entry>
</properties>